<body class="trips-new">
<div class="sides">
  <a class='a-logo' href='/'>Bike Share</a>
  <a href="/stations"   class="logo">STATIONS</a>
  <a href="/trips"      class="logo">TRIPS</a>
  <a href="/conditions" class="logo">CONDITIONS</a>
</div>

<div class='edit-container'>
  <h1><span>New</span> Trip</h1>
  <form class="" action="/trips" method="post">
    <input type="integer" name="trip[duration]" placeholder="Duration">
    <input type="text" name="trip[start_date]" placeholder="Start Date">
    <input type="text" name="trip[start_station_id]" placeholder="Start Station">
    <input type="text" name="trip[end_date]" placeholder="End Date">
    <input type="text" name="trip[end_station_id]" placeholder="End Station">
    <input type="text" name="trip[bike_id]" placeholder="Bike Id">
    <input type="integer" name="trip[subscription_type]" placeholder="Subscription Type">
    <input type="integer" name="trip[zip_code]" placeholder="Zip Code">
    <input class='submit-btn' type="submit" value="submit">
  </form>
</div>
</body>
